DATABASE_URL=postgresql://boxleague:boxleague@postgres:5432/boxleague?schema=public
POSTGRES_DB=boxleague
POSTGRES_USER=boxleague
POSTGRES_PASSWORD=boxleague
POSTGRES_HOST_PORT=15435
WEB_HOST_PORT=13001
NEXT_PUBLIC_APP_NAME=Box League
SEED_ADMIN_PASSWORD=change-me
POSTGRES_DATA_PATH=/mnt/user/appdata/box-league/postgres
